<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644923301513-uljd32cn3fml4oufd8q5p1h5tbejdba3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644923301513-uljd32cn3fml4oufd8q5p1h5tbejdba3</string>
	<key>API_KEY</key>
	<string>AIzaSyB2UGkp2Gj_AsNXqlAxedM7E0Z6HHXTExk</string>
	<key>GCM_SENDER_ID</key>
	<string>644923301513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksergenozel.HedefYks</string>
	<key>PROJECT_ID</key>
	<string>hedefyks-7698a</string>
	<key>STORAGE_BUCKET</key>
	<string>hedefyks-7698a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644923301513:ios:8b9a29d940f9d1efbf7058</string>
</dict>
</plist>